
header {
    display: flex;
    margin-bottom: 40px;
    padding: 20px 20px 0 20px;
}


#btn-new-appointment {
    margin-bottom: 40px;
    
}
.cita {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;

}
